<h1>New Team</h1>
<%= form_for ([current_user, @team]) do |f| %>
    <% if @team.errors.any? %>
        <div class="error messages">
            <h2>Form is invalid</h2>
            <ul>
                <% for message in @team.errors.full_messages %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label "Team Name" %><br />
        <%= f.text_field :name, :value => @teamTitle %>
    </p>
    
    <h2>Players</h2>
    <table>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Team</td>
        <td>Position</td>
      </tr>
      <% @playersZip.each_with_index do |name, index| %>
        <%= fields_for "players[#{index}]" do |fa| %>
          <tr>
            <td><%= fa.text_field :fname, :value => name[0] %></td>
            <td><%= fa.text_field :lname, :value => name[1] %></td>
            <td><%= fa.text_field :team, :value => name[2] %></td>
            <td><%= fa.text_field :position, :value => name[3] %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    
    <p class="button"><%= f.submit %></p>
<% end %>

