<h1>New Team</h1>
<%= form_for ([current_user, @team]) do |f| %>
    <% if @team.errors.any? %>
        <div class="error messages">
            <h2>Form is invalid</h2>
            <ul>
                <% for message in @team.errors.full_messages %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label "Team Name" %><br />
        <%= f.text_field :name, :value => @teamTitle %>
    </p>
    
    <h2>Players</h2>
    <table>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Position</td>
        <td>Team</td>
      </tr>
      <% @playersZip.each do |fname, lname, team, pos| %>
        <tr>
          <td><%= f.text_field :fname, :value => fname %></td>
          <td><%= f.text_field :lname, :value => lname %></td>
          <td><%= f.text_field :team, :value => team %></td>
          <td><%= f.text_field :position, :value => pos %></td>
        </tr>
      <% end %>
    </table>
    
    <p class="button"><%= f.submit %></p>
<% end %>